/insertionSort
/QuickSort
/mergeSort
/MergeSortGraph/mergesort
/HeapSort Graph/heapSort
/InsertionSortGraph/insertionSort
/RandomizedQuickSort Graph/randomizedQuickSort
/randomizedQuickSort
/heapSort
/CountSort
/radixSort